.paginationBox {
    margin-top: 3rem;
    display: flex;
    height: 4rem;
    width: 100%;
    max-width: 1180px;
    align-items: center;
    justify-content: space-between;
}

.paginationBtns {
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.pageSwitch,
.pageSwitchPrev,
.pageSwitchNext {
    margin-right: 1.2rem;
}

.pageSwitchBtn,
.pageSwitchPrevBtn,
.pageSwitchNextBtn,
#selectItemsPerPage {
    padding: 0.4rem 1rem;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #222;
}