.login {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    width: 100%;
    height: calc(100vh - 6rem);
    place-items: center;

    .loginContent {
        padding: 0.2rem;
        width: 320px;
        height: auto;

        .loginTitle {
            padding: 0.4rem 0;

            h1 {
                color: #fff;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }

        .errorBox {
            display: flex;
            align-items: center;
            margin-top: 0.4rem;
            padding: 0.4rem 0.2rem;
            background: rgb(255, 0, 0, 0.4);
            border-radius: 0.2rem;

            .errorIcon {
                display: flex;
                width: 10%;
                justify-content: center;

                .warning {
                    color: #fff;
                    font-size: 1.2rem;
                }
            }

            .errorMsg {
                padding-left: 0.2rem;
                font-size: 1rem;
                color: #fff;
                width: 90%;
            }
        }

        form {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;

            input {
                margin-top: 1.2rem;
                padding: 0 0.8rem;
                color: #fff;
                font-size: 1.2rem;
                height: 45px;
                width: 100%;
                border: 2px dashed #333;
                outline: none;
                background: none;
            }

            .forgotPassLink {
                padding: 0.4rem 0 0 0.4rem;
                color: #eee;
                font-size: 1rem;
            }

            .loginBtn {
                margin-top: 1.2rem;
                padding: 0.6rem 0;
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                width: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                background: #222;
                border-radius: 0.1rem;
            }
        }
    }
}